<mat-card>
    <mat-card-header>
        <mat-toolbar class="mat-toolbar" style="display: flex; justify-content: space-between">
            <mat-card-title>Charges</mat-card-title>
            <span class="toolbar-spacer"></span>
            <!--<mat-icon (click)="addContact()">Add</mat-icon>-->
            <button class="btn btn-success" (click)="addCharge()">Add charge</button>
        </mat-toolbar>
    </mat-card-header>
  </mat-card>
  <mat-card-content>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Comptes</th>
            <th>Type</th>
            <th>Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let charge of charges">
            <td>{{charge.name}}</td>
            <td>{{charge.type}}</td>
            <td>{{charge.amount}}</td>
            <td><mat-icon (click)="editChargeAccount(charge)">edit</mat-icon></td>
            <td><mat-icon (click)="removeChargeAccount(charge.id)">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>
  </mat-card-content>