 <nav class="nav nav-pills">
    <li><a class="nav-link active nav-item" routerLink="#">Accueil</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accouting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="#">Bilan</a>
          <a class="dropdown-item" routerLink="#">Compte de Résultat</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="gestion" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="gestion/réel">Réel</a>
          <a class="dropdown-item" routerLink="gestion/budget">Budget</a>
        </div>
      </li>
      <li><a class="nav-link" routerLink="#">Déconnexion</a></li>
  </nav>