 <nav class="nav nav-pills">
    <li><a class="nav-link active nav-item" routerLink="home">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="accounting" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="#">Bilan</a> <!-- attente ajout component -->
          <a class="dropdown-item" routerLink="#">Result account</a> <!-- attente ajout component -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="gestion" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="gestion/real">Real</a>
          <a class="dropdown-item" routerLink="gestion/charges">Charges</a>
          <a class="dropdown-item" routerLink="gestion/produits">Products</a>
          <a class="dropdown-item" routerLink="gestion/budget">Budget</a>
        </div>
      </li>
      <li><a class="nav-link" routerLink="">Disconnect</a></li>
  </nav>